.headerbox{
    text-align: center;
    height: 50px;
    width: 100%;
    background: #84b4b1;
    padding-top: 40px;
    margin: 0px;
}


html,
body{
    margin: 0px 0px 0px;
    height:100%;
}


.myname {
    text-align: left;
    width: 100%;
    height: 70%;
    background:#343a40;
    padding-top: 0px;
    font-family: 'Helvetica',sans-serif;
    color: #FFF;
}

.myname img {
    width: 100%;
    border-radius: 50%;
    margin:20px;
  }

.namebox {
    display: flex;
    margin: 0px;
}

.profile{
    flex:left;
    margin: 20px;
}

div.profile > img {
    margin: 10px;
}

div.profile > h2 {
    margin: 0px;
    text-align: center;
}


.description {
    flex: right;
    /* height: 150px; */
    width: 100%;
    margin-right:40px;
    margin-left:40px;
    margin-top:20px;
}


h1 {
    margin: 0px;
}

.project{
    display:flex;
    text-align: left;
    height: 2opx;
    width: 100%;
    background:#204969;
    padding-top: 0px;
    color: white;
    font-family: 'Helvetica',sans-serif;
}

#title {
    margin-left: 30px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    font-size: 120%;
}



#list {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 300px 300px;
    grid-auto-flow: dense; 
    margin-top:60px;
    margin-left:40px;
}

.blog {
    text-align: left;
    width: 100%;
    height: 100%;
    background:#1F4E74;
    padding-top: 0px;
    font-family: 'Helvetica',sans-serif;
    color: #FFF;
}

.card4 {
    width: 150x;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px #ccc;
}
.image4 {
    width: 100%;
    height: 50px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.title4 {
    font-size: 50%;
    margin: 5px;
    color: #444;
}
.content4 {
    padding: 5px;
    color: #666;
}
.box4 {
    display: flex;
    justify-content: flex-end;
}
.continue4 {
    font-size: 80%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #08f;
    color: #08f;
    background-color: transparent;
}
